<html>

<head>
    <script>
        // function for validation and handling AJAX request, response.
        // First it validates user input. Then using AJAX request, it
        // sends request to web service which is running on 1337 port.
        // The request is in json and response is shown within this page.
        function check_values089(){
            var weight089 = document.getElementById('weight089').value; // get weight value
            var height089 = document.getElementById('height089').value;  // get height value

            // weight can not be empty
            if (weight089 == ''){
                alert('Please enter weight!');
                document.getElementById('weight089').focus();
                return false;
            }

            // height can not be empty
            else if (height089 == ''){
                alert('Please enter height!');
                document.getElementById('height089').focus();
                return false;
            }

            // weight can not be zero or less than zero
            else if (weight089 <= 0){
                alert('Weight can not be less or equal to zero!');
                document.getElementById('weight089').focus();
                return false;
            }

            // height can not be zero or less than zero
            else if (height089 <= 0){
                alert('Height can not be less or equal to zero!');
                document.getElementById('height089').focus();
                return false;
            }

            // The flow of jQuery request is taken from
            // https://stackoverflow.com/questions/1960240/jquery-ajax-submit-form
        
            // This will request web service and response will be shown in bmiResult089.
            jQuery.ajax({
                url: 'http://secondassignment089.herokuapp.com/calculate089',
                method: 'post',
                data: { "weight089": $('#weight089').val(), "height089": $('#height089').val()},
                dataType: 'json',
                success: function(responseData089){
                    if (responseData089 != "Weight not valid!" && responseData089 != "Height not valid!" &&
                        responseData089 != "Values not valid!" && 
                        responseData089 != "Something wrong with JSON parameters!"){
                        $('#bmiResult089').html('BMI value = '+ responseData089);
                    }
                    else{
                        $('#bmiResult089').html(responseData089);
                    }
                },
                error: function(){
                    $('#bmiResult089').html('Service not available!');
                },
            });
        }
    </script>
</head>

<body>
    <div style="padding-left: 200px; padding-right:200px; padding-top:50px">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3 class="display-4">Body Mass Index (BMI) app</h3>
                <h4 class="display-6">Enter weight and height below to calculate BMI</h4>
                <div style="padding-bottom:20px"></div>

                <form name="form_values" id="form_values">
                    
                    <!-- Weight -->
                    <div class="form-group">
                        <label for="weight">Weight (in kg)</label>
                        <input type="number" step="any" min="0" id="weight089" name="weight089" class="form-control">
                    </div>

                    <!-- Height -->
                    <div class="form-group">
                        <label for="height">Height (in meters)</label>
                        <input type="number" step="any" min="0" id="height089" name="height089" class="form-control">
                    </div>

                    <!-- Submit button -->
                    <!-- On click of the button, the function will validate weight and height 
                        values and show response in bmiResult089 -->
                    <div style="text-align:center">
                        <input type="button" id="submitButton089" onclick="check_values089()" value="submit" class="btn btn-primary" style="width:150px">
                    </div>  
                </form>

                <!-- Response will be shown here -->
                <h4 class="display-6"><p id="bmiResult089"></p></h4>
            </div>
        </div>
    </div>
</body>

</html>